@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');
body{
    font-family: ibmplexsans-light !important;
    margin: 0 !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif; */
}
/* IBM Fonts */
@font-face {
    font-family: ibmplexsans-light;
    src: url(./assets/fonts/ibmplexsans-light.woff2);
}
@font-face {
    font-family: ibmplexsans-regularitalic;
    src: url(./assets/fonts/ibmplexsans-regularitalic.woff2);
}
@font-face {
    font-family: ibmplexsans-semibold;
    src: url(./assets/fonts/ibmplexsans-semibold.woff2);
}
.navbarPhone{
    display: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem 1rem 5rem;
    position: sticky;
    z-index: 2;
    top: 0%;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
.navPartTwo>ul{
    display: flex;
    flex-direction: row;
}
.navPartTwo>ul>li{
    color: black;
    padding: 0rem 20px 0rem 20px;
    list-style-type: none;
    font-size: 1.5rem;
    /* color: rgba(255, 255, 255, 1); */
}
.navPartTwo>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.6);
    margin: -2rem 0rem -2rem 0rem;
    color: #f2f2f2;
    padding-top: 2rem;
    cursor: pointer;
    /* font-size: 1.7rem; */
}
.navPartTwo>ul>li>a{
    text-decoration: none;
    color: black;
}
.navPartTwo>ul>li:hover>a{
    text-decoration: none;
    color: white;
}

/* Section One */
.sectionOne{
    height: 100%;
}
.overall{
    display: flex;
    flex-direction: row;
}
.partOne{
    width: 50%;
    position: sticky;
    margin: 90vh 0px 0px 0%;
}
.orbiit {
    animation: MoveUpDown 5s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    filter: opacity(0.7);
  }
  .orbiit>img{
    width: 100%;
    padding-left: 10%;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }
.partTwo{
    width: 50%;
    padding: 5vh 10% 0px 10%;
}
.title{
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 10rem;
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    animation: 2s ease-out 0s 1 slideInFromLeft;
    letter-spacing: 4px;
}
.desc{
    color: rgba(0, 0, 0, 0.8);
    font-family: ibmplexsans-light,Helvetica,Arial,sans-serif;
    animation: 4s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromRight;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight{
    0% {
        transform: translateY(+100%);
    }
    100% {
        transform: translateX(0);
    }
}
.scrollDown{
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
}
.scrollDown>i{
    font-weight: bolder;
    color: black;
    background: #f2f2f2;
    padding: 9px 15px; 
    animation: 2s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromDown;
}
.scrollDown>span{
    padding-left: 2rem;
    opacity: 0.6;
    font-size: 2rem;
}

@keyframes slideInFromDown {
    0% {
        transform: translateY(+100%);
    }
    100% {
        transform: translateY(0%);
    }
  }

  /* section two */
.sectionTwo{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0rem 3rem 0rem;
}
.vision{
    padding: 5vh 5% 0px 5%;
    border-top-style: dashed;
    border-color: #f2f2f2;
    border-width: 2px;
}
.visionTitle{
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    width: fit-content;
    font-size: 3rem;
    padding: 5px 1rem 5px 1rem;
    color:rgba(0, 0, 0, 0.8);
    background-color: white;
    border: 2px solid black;
}
.visionLine{
    margin: 1rem 0rem 0rem 2rem;
    width: 40%;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6);
}
.visionDesc{
    padding: 1rem 0rem 0rem 4rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
}   
.visionImg{
    text-align: center;
}
.visionImg>img{
    width: 70%;
    height: auto;
}
/* Section Three About Us */
.sectionThree{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem 2rem 2rem;
}
.aboutUsImage{
    width: 40%;
}
.aboutUsImage>img{
    width: 100%;
    height: auto;
}
.aboutUs{
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem 1rem 3rem;
    justify-content: space-evenly;
    width: 60%;
}
.aboutUsPartOne{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.aboutUsPartOneTitle{
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    color: rgba(0, 0, 0, 1);
}
.aboutUsPartOneDesc{
    font-size: 1.5rem;
    padding: 1rem 0rem 3rem 0rem;
    color: rgba(0, 0, 0, 0.8);
}
.aboutUsPartOneBanner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aboutUsPartOneBanner>div>img{
    width: auto;
    height: 10vh;
}

/* sectionFour */
.sectionFour{
    background-color: #f2f2f2;
}
.featuresTitle{
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    font-size: 4rem;
    padding: 0rem 0rem 1rem 0rem;
    margin: 2rem 0rem 5rem 0rem;
    text-align: center;    
    background: #f2f2f2;
    color: rgba(0, 0, 0, 1);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 3rem 0rem 3rem 0rem;
    padding: 2rem 2rem 2rem 2rem;
    transition: 200ms;
    cursor: pointer;
    min-height: 30vh;
    justify-content: space-evenly;
    background-color: white;
}
.card:hover{
    background-color: #f2f2f2;
    transform: translateY(-30px) !important;
    transition: 200ms;
}
.cards>div:nth-of-type(2n){
    margin-top: 4rem;
}
.cards>div:nth-of-type(2n+1){
    margin-bottom: 4rem;
}
.cardTitle{
    color: rgba(0, 0, 0, 1);
    font-size: 2.1rem;
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
}
.card:hover>.cardTitle{
    color: rgba(0, 0, 0, 1);
}
.cardDesc{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

/* section Five Registration */
.sectionFive{
    background-color: #ffffff;
}
.registration{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}
.regMainTitle{
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem 0rem 2rem 0rem;
    font-family: ibmplexsans-semibold;
}
.regText{
    display: flex;
    flex-direction: column;
    color: white;
    border-left: 4px solid rgba(0, 0, 0, 0.6);
    background: #f2f2f2;
    justify-content: space-evenly;
}
.regInfo{
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.8);
    padding: 2rem 1rem 1rem 2rem;
}
.regIcon{
    font-size: 1.5rem;
    padding: 1.5rem;
    color: black;
    border: 2px solid black;
}
.regContent{
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 0rem 3rem;
}
.regTitle{
    font-family: ibmplexsans-semibold;
    padding-top: 0.5rem;
    font-size: 2rem;
}
.regDesc{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
}


/* Meet Our Team */
.teamTitle{
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    color: black;
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* sectionSix Packages */
.sectionSeven{
    margin: 2rem 0rem 2rem 0rem;
    background-color: #f2f2f2;
}
.packageTitle{
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    color: black;
    padding: 0rem 0rem 1rem 0rem;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.packageCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5rem 0rem 5rem 0rem;
}
.packageCard{
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-left: 10px solid rgba(0, 0, 0, 0.6);
    transition: 300ms;
    cursor: pointer;
    min-height: 30vh;
    justify-content: space-evenly;
    background-color: white;
}
.packageCard:hover{
    transform: translateY(-30px) !important;
    transition: 300ms;
}
.packageCardMoney{
    color: black;
    font-size: 3rem;
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
}
.packageCardClass{
    padding: 1rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
}
.packageCardFeatures>ul>li{
    color: black;
    font-size: 1.6rem;
    text-align: left;
    line-height: 2rem;
}

/* Contact us */
.sectionEight{
    display: flex;
    flex-direction: row;
}
.contactInfoImage{
    width: 40%;
}
.contactInfoImage>img{
    width: 100%;
    height: auto;
}
.contactTitle{
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    color: black;
    padding: 0rem 0rem 0rem 3rem;
    text-align: left;
}
.contactTitleLine{
    margin: 0rem 0rem 4rem 5rem;
    width: 30%;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: black;
}
.contactInfo{
    width: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contactMail>a,.contactCall>a{
    border-left: 4px solid rgba(0, 0, 0, 0.8);
    border: 2px solid black;
    margin: 0rem 1rem 0rem 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem 0rem 1rem;
    transition: 200ms;
}
.contactMail>a:hover,.contactCall>a:hover{
    transform: translateY(-20px);
    transition: 200ms;
}
.contactMailIcon,.contactCallIcon{
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}
.contactMailInfos,.contactCallInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactCallTitle,.contactMailTitle{
    font-family: ibmplexsans-semibold,Helvetica,Arial,sans-serif;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
}
.contactCallValue,.contactMailValue{
    font-size: 1.6rem;
    font-family: ibmplexsans-light;
    color: black;
}

@media screen and (max-device-width:500px), screen and (max-width:500px),screen and (max-device-width:800px), screen and (max-width:800px) {
    .navbarDesktop{
        display: none;
    }
    
nav{
    padding: 1rem 0rem 1rem 0rem;
}
    .navbarPhone{
        display: initial;    
        position: sticky;
        z-index: 2;
        top: 0;
    }
    .sectionOne{
        min-height: 90vh;
        background-position: top; 
        background-size: 100% 100vh;
    }
.overall{
    flex-direction: column;
}
.partOne{
    height: 35vh;
    width: 100%;
    margin: 15vh 0px 0px 0%;
}
.orbiit {
    position: relative;
    text-align: center;
  }
  .orbiit>img{
      width: 70%;
  }
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 50px;
    }
  }
.partTwo{
    width: 90%;
    padding: 0vh 5% 0px 5%;
}
.title{
    font-size: 5rem;
}
.desc{
    font-size: 1.3rem;
    line-height: 1.2rem;
}
.scrollDown{
    font-size: 1rem;
    padding-top: 1rem;
}
.scrollDown>span{
    padding-left: 2rem;
    opacity: 0.6;
    font-size: 1rem;
}

/* Vision */
.sectionTwo{
    height: auto;
    flex-direction: column-reverse;
    padding-bottom: 3rem;
}
.visionTitle{
    font-size: 2rem;
}
.visionLine{
    margin: 0.5rem 0rem 0rem 1rem;
    width: 42%;
}
.visionDesc{
    width: 90%;
    padding: 1rem 0rem 0rem 2rem;
    font-size: 1.2rem;
}
.visionImg>img {
    width: 100%;
}

/* About Us */
.sectionThree{
    flex-direction: column;
    padding: 1rem;
}
.aboutUs{
    padding: 5vh 0% 5vh 0%;
    flex-direction: column;
    width: 100%;
}
.aboutUsImage {
    width: 100%;
}
.aboutUsPartOne{
    width: 90%;
    margin:0rem 5% 0rem 5%;
}
.aboutUsPartOneTitle{
    font-size: 3rem;
}
.aboutUsPartOneDesc{
    margin: 0rem 1rem 0rem 0rem;
    font-size: 1.3rem;    
    padding: 0.5rem 0rem 2rem 1rem;
}
.aboutUsPartOneBanner{
    flex-direction: column;
    margin: 0rem 0rem 0rem 1rem;
}
.aboutUsPartOneBanner>div{
    text-align: center;
}
.aboutUsPartOneBanner>div>img{
    width: 70%;
    height: auto;
}
.aboutUsPartTwo{
    display: none;
}

/* Features */
.featuresTitle{
    font-size: 3rem;
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
}
.featuresCards{
    width: 100%;
}
.cards{
    flex-direction: column;
}
.cards>div:nth-of-type(2n+1) {
    margin-bottom: 0rem;
}
.card{
    width: auto;
    margin: 0rem 5% 0rem 5%;
}
.cards>div{
    margin: 2rem 5% 2rem 5%;
}

/* Registration */
.sectionFive{
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
    height: auto;
}
.regMainTitle{
    padding: 2rem 0rem 2rem 0rem;
    font-size: 2rem;
}
.registration{
    flex-direction: column;
}
.registration>div{
    text-align: center;
}
.regIcon{
    padding: 1rem;
    border-radius: 10px 10px 0px 10px;
}
.regTitle{
    font-size: 1.3rem;
}
.regDesc{
    font-size: 1rem;
}


/* Team */
.sectionSix{
    padding: 1rem 0rem 0rem 0rem;
}
.teamTitle{
    font-size: 2rem;
}

/* Package */
.sectionSeven{
    height: auto;
}
.packageTitle{
    padding-top: 1rem;
    font-size: 2.5rem;
}
.packageAllCards{
    flex-direction: column;
}
.packageCards{
    padding: 2rem 0rem 2rem 0rem !important;
}
.packageCard{
    width: 70%;
    margin: 5%;
}
.packageCardMoney{
    font-size: 2rem;
}
.packageCardFeatures{
    padding: 1rem;
}
.packageCardFeatures>ul>li {
    font-size: 1.3rem;
    line-height: 1.5rem;
    list-style-type: none;
    text-align: center;
}
.packageCardFeatures>ul{
    padding: 0;
    margin: 0px !important;
}
.packageCardClass {
    padding: 0rem !important;
    font-size: 1.4rem;
}
.packageAllCards>div{
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}
/* Contact Us */
.sectionEight{
    flex-direction: column;
}
.contactInfoImage {
    width: 100%;
}
.contactTitle{
    font-size: 2rem;
    padding: 3rem 0rem 0rem 2rem;
}
.contactInfo{
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
}
.contactMailIcon, .contactCallIcon {
    font-size: 3rem;
}
.contactCallTitle, .contactMailTitle {
    font-size: 1.3rem;
}
.contactTitleLine {
    margin: 0.5rem 0rem 2rem 3rem;
    width: 75%;
}
.contactCallValue, .contactMailValue {
    font-size: 1rem;
}
.contactMail>a:hover,.contactCall>a:hover{
    transform: scale(1.05);
    transition: 300ms;
}
footer {
    flex-direction: column !important;
    margin: 2rem 0rem 0rem 0rem !important;
}
.footerPartOne{
    padding: 0 !important;
}
.footerTitle{
    font-size: 2rem !important;
}
.footerDesc{
    font-size: 1.2rem !important;
}
.footerPartTwo{
    width: 100% !important;
    padding: 0 !important;
    border-left: 0px !important;
}
.footerPartTwo>a{
    width: 100% !important;
    font-size: 1.5rem !important;
    width: 100%;
    justify-content: space-evenly !important;
}
}