@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');
body{
    font-family: MaisonNeueBook !important;
    margin: 0 !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif; */
}
@font-face {
    font-family: Spoof;
    src: url(./assets/fonts/Spoof-Bold.woff2);
  }
  
@font-face {
    font-family: MaisonNeue;
    src: url(./assets/fonts/MaisonNeue-Bold.woff2);
  }
@font-face {
    font-family: MaisonNeueBook;
    src: url(./assets/fonts/MaisonNeue-Book.woff2);
}
.navbarPhone{
    display: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(59, 69, 255, 0.5); */
    padding: 1rem 5rem 1rem 5rem;
    position: sticky;
    z-index: 2;
    top: 0%;
    background-color: white ;
    border-bottom-color: #3b45ff;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    box-shadow: 0px 1px 10px lightgrey;
}
.navPartTwo>ul{
    display: flex;
    flex-direction: row;
}
.navPartTwo>ul>li{
    padding: 0rem 20px 0rem 20px;
    list-style-type: none;
    font-size: 1.5rem;
    transition: 200ms;
    /* color: rgba(255, 255, 255, 1); */
}
.navPartTwo>ul>li:hover{
    background-color: #3b45ff;
    box-shadow: 5px 5px 3px lightgrey;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: -2rem 0rem -1rem 0rem;
    color: white;
    padding-top: 2rem;
    transform: scale(1.05);
    transition: 200ms;
    cursor: pointer;
    /* font-size: 1.7rem; */
}
.navPartTwo>ul>li>a{
    text-decoration: none;
    color: #3b45ff;
}
.navPartTwo>ul>li:hover>a{
    text-decoration: none;
    color: white;
}

/* Section One */
.sectionOne{
    height: 100vh;
}
.overall{
    display: flex;
    flex-direction: row;
}
.partOne{
    width: 50%;
    position: sticky;
    margin: 90vh 0px 0px 0%;
}
.orbiit {
    animation: MoveUpDown 5s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    filter: opacity(0.7);
  }
  .orbiit>img{
    width: 100%;
    padding-left: 10%;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }
.partTwo{
    width: 50%;
    padding: 5vh 10% 0px 10%;
}
.title{
    text-align: center;
    color: #3b45ff;
    font-size: 12rem;
    font-family: Spoof,Helvetica,Arial,sans-serif;
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromLeft;
    text-shadow: 5px 5px 3px lightgrey;
}
.desc{
    color: rgba(0, 0, 0, 0.8);
    font-family: MaisonNeue,Helvetica,Arial,sans-serif;
    animation: 4s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromRight;
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.5rem;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight{
    0% {
        transform: translateY(+100%);
    }
    100% {
        transform: translateX(0);
    }
}
.scrollDown{
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
}
.scrollDown>i{
    font-weight: bolder;
    color: rgba(255,255,255,1);
    background: #3b45ff;
    padding: 9px 15px; 
    border-radius: 40px;
    box-shadow: 5px 5px 3px lightgrey;
    animation: 2s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromDown;
}
.scrollDown>span{
    padding-left: 2rem;
    opacity: 0.6;
    font-size: 2rem;
}

@keyframes slideInFromDown {
    0% {
        transform: translateY(+100%);
    }
    100% {
        transform: translateY(0%);
    }
  }

  /* section two */
.sectionTwo{
    height: 70vh;
    background-color: #3b45ff;
}
.vision{
    padding: 5vh 5% 0px 5%;
    border-top-style: dashed;
    border-color: #3b45ff;
    border-width: 2px;
}
.visionTitle{
    font-family: Spoof,Helvetica,Arial,sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: fit-content;
    font-size: 4rem;
    padding: 5px 1rem 5px 1rem;
    color: blue;
    background-color: white;
    border-radius: 20px 20px 0px 20px;
}
.visionLine{
    margin: 4rem 0rem 0rem 2rem;
    width: 10%;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: white;
}
.visionDesc{
    padding: 1rem 0rem 0rem 4rem;
    font-size: 1.8rem;
    color: white;
}

/* Section Three About Us */
.sectionThree{
    height: auto;
}
.aboutUs{
    display: flex;
    flex-direction: row;
    padding: 10vh 5% 10vh 5%;
    justify-content: space-evenly;
}
.aboutUsPartOne{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.aboutUsPartOneTitle{
    font-family: Spoof,Helvetica,Arial,sans-serif;
    font-size: 5rem;
    color: #3b45ff;
}
.aboutUsPartOneDesc{
    font-size: 1.7rem;
    padding: 1rem 0rem 3rem 3rem;
    color: rgba(0,0,0,0.6);
}
.aboutUsPartOneBanner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aboutUsPartOneBanner>div>img{
    width: auto;
    height: 10vh;
}

/* sectionFour */
.featuresTitle{
    font-family: Spoof,Helvetica,Arial,sans-serif;
    font-size: 4rem;
    padding: 0rem 0rem 1rem 0rem;
    margin: 2rem 0rem 5rem 0rem;
    text-align: center;    
    background: #3b45ff;
    color: white;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid blue;
    margin: 1rem 0rem 2rem 0rem;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 20px 20px 0px 20px;
    transition: 1s;
    cursor: pointer;
    min-height: 30vh;
    justify-content: space-evenly;
}
.card:hover{
    background-color: #3b45ff;
    transform: scale(1.2) !important;
    transition: 1s;
}
.cardImage>img{
    margin-top: -5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}
.cards>div:nth-of-type(2n){
    margin-top: 4rem;
}
.cards>div:nth-of-type(2n+1){
    margin-bottom: 4rem;
}
.cardTitle{
    color: #3b45ff;
    font-size: 2rem;
    font-family: Spoof,Helvetica,Arial,sans-serif;
}
.card:hover>.cardTitle{
    color: white;
}
.cardDesc{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
}

/* section Five Registration */
.sectionFive{
    background-color: #3b45ff;
    padding: 5rem 0rem 0rem 5rem;
    height: 100vh;
}
.registration{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.regMainTitle{
    padding: 5rem 0rem 4rem 0rem;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-family: MaisonNeue;
}
.regText{
    display: flex;
    flex-direction: column;
    color: white;
    border-color: blue;
    border-style: solid;
    border-radius: 3rem 3rem 0rem 3rem;
    background: white;
    justify-content: space-evenly;
}
.regInfo{
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.8);
    padding: 2rem 1rem 1rem 2rem;

}
.regIcon{
    font-size: 1.5rem;
    background: rgb(59, 69, 255);
    padding: 1.5rem;
    color: white;
    border-radius: 10rem;
}
.regContent{
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 0rem 3rem;
}
.regTitle{
    padding-top: 0.5rem;
    font-size: 2rem;
    font-family: MaisonNeue;
}
.regDesc{
    color: rgb(59, 69, 255);
    font-size: 1.4rem;
    background: white;
}


/* Meet Our Team */
.sectionSix{
    background-color: white;
    padding: 5rem 4rem 5rem 4rem;
}
.teamTitle{
    font-family: Spoof,Helvetica,Arial,sans-serif;
    font-size: 4rem;
    color: #3b45ff;
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
}

/* sectionSix Packages */
.package{
    background-color: #3b45ff;
    color: white;
}
.packageTitle{
    font-family: Spoof,Helvetica,Arial,sans-serif;
    font-size: 4rem;
    color: #fff;
    padding: 0rem 0rem 2rem 0rem;
    text-align: center;
}
.packageAllCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.packageCard{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 1rem 0rem 2rem 0rem;
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 20px 20px 0px 20px;
    transition: 1s;
    cursor: pointer;
    min-height: 30vh;
    justify-content: space-evenly;
    background-color: white;
}
.packageCard:hover{
    background-color: white;
    transform: scale(1.2) !important;
    transition: 1s;
}
.packageAllCards>div:nth-of-type(2n){
    margin-top: 4rem;
}
.packageAllCards>div:nth-of-type(2n+1){
    margin-bottom: 4rem;
}
.packageCardMoney{
    text-align: center;
    width: fit-content;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-top: -3rem;
    background-color: #3b45ff;
    color: white;
    font-size: 3rem;
    font-family: Spoof,Helvetica,Arial,sans-serif;
    border-radius: 3rem;
    border: 5px solid white;
}
.packageCard:hover>.packageCardMoney{
    color: white;
}
.packageCardClass{
    padding: 2rem 1rem 1rem 1rem;
    font-size: 2rem;
    color: #3b45ff;
    border-bottom: 3px solid #3b45ff;
}
.packageCardFeatures>ul>li{
    list-style-type: none;
    color: black;
    font-size: 1.6rem;
    text-align: left;
    line-height: 2rem;
}

/* Contact us */
.sectionEight{
    height: 50vh;
}
.contactTitle{
    font-family: Spoof,Helvetica,Arial,sans-serif;
    font-size: 4rem;
    color: #3b45ff;
    padding: 0rem 0rem 0rem 3rem;
    text-align: left;
}
.contactTitleLine{
    margin: 0rem 0rem 4rem 5rem;
    width: 30%;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: #3b45ff;
}
.contactInfo{
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contactMail>a,.contactCall>a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem 0rem 1rem;
    transform: scale(1.0);
    transition: 600ms;
}
.contactMail>a:hover,.contactCall>a:hover{
    border: 2px solid #3b45ff;
    border-radius: 30px 30px 0px 30px;
    transform: scale(1.2);
    transition: 300ms;
}
.contactMailIcon,.contactCallIcon{
    font-size: 4rem;
    color: #3b45ff;
    padding: 1rem;
}
.contactMailInfos,.contactCallInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactCallTitle,.contactMailTitle{
    font-size: 2rem;
    font-family: MaisonNeue;
    color: #3b45ff;
}
.contactCallValue,.contactMailValue{
    font-size: 1.6rem;
    font-family: MaisonNeueBook;
    color: black;
}

/* Footer */
footer{
    text-align: center;
    font-size: 2rem;
    height: 10vh;
    font-family: MaisonNeue;
    background-color: #3b45ff;
    color: white;
    padding: 3rem 0rem 0rem 0rem;
}


@media screen and (max-device-width:500px), screen and (max-width:500px) {
    .navbarDesktop{
        display: none;
    }
    
nav{
    padding: 1rem 0rem 1rem 0rem;
}
    .navbarPhone{
        display: initial;
    }
    .sectionOne{
        min-height: 100%;
    }
.overall{
    flex-direction: column;
}
.partOne{
    height: 40vh;
    width: 100%;
    margin: 20vh 0px 0px 0%;
}
.orbiit {
    position: relative;
  }
  .orbiit>img{
      width: 90%;
  }
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 50px;
    }
  }
.partTwo{
    width: 90%;
    padding: 0vh 5% 0px 5%;
}
.title{
    font-size: 5rem;
}
.desc{
    font-size: 1.3rem;
    line-height: 1.2rem;
}
.scrollDown{
    font-size: 1rem;
    padding-top: 1rem;
}
.scrollDown>span{
    padding-left: 2rem;
    opacity: 0.6;
    font-size: 1rem;
}

/* Vision */
.sectionTwo{
    height: 50vh;
}
.visionTitle{
    font-size: 2rem;
}
.visionLine{
    margin: 0.5rem 0rem 0rem 1rem;
    width: 42%;
}
.visionDesc{
    width: 90%;
    padding: 1rem 0rem 0rem 2rem;
    font-size: 1.2rem;
}


/* About Us */
.aboutUs{
    padding: 5vh 0% 5vh 0%;
    flex-direction: column;
}
.aboutUsPartOne{
    width: 90%;
    margin:0rem 5% 0rem 5%;
}
.aboutUsPartOneTitle{
    font-size: 3rem;
}
.aboutUsPartOneDesc{
    margin: 0rem 1rem 0rem 0rem;
    font-size: 1.3rem;    
    padding: 0.5rem 0rem 2rem 1rem;
}
.aboutUsPartOneBanner{
    flex-direction: column;
    margin: 0rem 0rem 0rem 1rem;
}
.aboutUsPartOneBanner>div>img{
    width: 90%;
    height: auto;
}
.aboutUsPartTwo{
    display: none;
}

/* Features */
.featuresTitle{
    font-size: 3rem;
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
}
.featuresCards{
    width: 100%;
}
.cards{
    flex-direction: column;
}
.card{
    width: 70%;
    margin: 0rem 5% 0rem 5%;
}
.cards>div{
    margin: 3rem 5% 3rem 5%;
}

/* Registration */
.sectionFive{
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
    height: auto;
}
.regMainTitle{
    padding: 2rem 0rem 2rem 0rem;
    font-size: 2rem;
}
.registration{
    flex-direction: column;
}
.registration>div{
    width: 90%;
    margin-left: 10%;
}
.regText{
    margin: 3rem 0rem 3rem 0rem;
    width: 90%;
    margin-left: 5% !important;
}
.regIcon{
    padding: 1rem;
    border-radius: 10px 10px 0px 10px;
}
.regTitle{
    font-size: 1.3rem;
}
.regDesc{
    font-size: 1rem;
}


/* Team */
.sectionSix{
    padding: 1rem 0rem 0rem 0rem;
}
.teamTitle{
    font-size: 2rem;
}

/* Package */
.sectionSeven{
    height: auto;
}
.packageTitle{
    padding-top: 5rem;
    font-size: 2.5rem;
}
.packageAllCards{
    flex-direction: column;
}
.packageCard{
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
}
.packageCardMoney{
    font-size: 2rem;
    margin-top: -14%;
}
.packageCardFeatures>ul>li {
    font-size: 1rem;
    line-height: 1.5rem;
}
.packageCardFeatures>ul{
    padding: 0;
    margin: 0px !important;
}
.packageCardClass {
    padding: 2rem 0rem 1rem 0rem;
    font-size: 1.4rem;
}
.packageAllCards>div{
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}
/* Contact Us */
.contactTitle{
    font-size: 2rem;
    padding: 3rem 0rem 0rem 2rem;
}
.contactInfo{
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
}
.contactMailIcon, .contactCallIcon {
    font-size: 3rem;
}
.contactCallTitle, .contactMailTitle {
    font-size: 1.3rem;
}
.contactTitleLine {
    margin: 0.5rem 0rem 2rem 3rem;
    width: 75%;
}
.contactCallValue, .contactMailValue {
    font-size: 1rem;
}
.contactMail>a:hover,.contactCall>a:hover{
    transform: scale(1.05);
    transition: 300ms;
}
/* Footer */
footer{
    font-size: 1.3rem;
}
}