.swiper-container {
  padding: 1rem;
  height: auto;
  text-align: center;
  background-color: #f2f2f2;
}
.swiper-slide{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem 10% 0rem 10%;
}
.swiper-button-next,.swiper-button-prev{
  color: white;
}
.teamInfo{
  display: flex;
  flex-direction: column;
  color: black;
}
.teamImage>img{
  width: 30vh;
  height: auto;
  align-items: center;
}
.teamName{
  font-family: ibmplexsans-semibold;
  font-size: 2.1rem;
}
.teamPosition{
  font-family: ibmplexsans-semibold;
  font-size: 1.5rem;
}
.teamAbout{
  font-family: MaisonNeue,Helvetica,Arial,sans-serif;
  font-size: 1.3rem;
  color: rgba(0,0,0,.6);
  padding: 1rem 0rem 0rem 0rem;
}


@media screen and (max-device-width:500px), screen and (max-width:500px) {
  .swiper-container {
    padding: 0rem;
    margin: 1rem;
  }
  .teamImage>img {
    width: 25vh;
  }
  .teamName{
    font-size: 1.5rem;
  }
}