
#backToTopButton {
    display: inline-block;
    background-color: #f2f2f2;
    width: 50px;
    height: 55px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 1px 1px 5px black;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    z-index: 1000;
    border: 2px solid black;
  }
  #backToTopButton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: black;
  }
  #backToTopButton:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
  }
  #backToTopButton:active {
    background-color: rgba(0,0,0,0.6);
  }
  #backToTopButton.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  @media (min-width: 600px) {
    #backToTopButton {
      margin: 30px;
    }
  }