.navbar-inverse {
    background-color: #ffffff !important;
    border-color: #080808;
    box-shadow: 0px 1px 12px black;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.container-fluid>.navbar-header{
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000 !important;
}   
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.navbar{
    max-height: 10vh;
}
.navbar-right{
    padding-right: 0px !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: white;
}
.navbar-toggle {
    margin-right: 47px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-nav {
    margin: 7.5px -15px;
}